<div class="h-screen flex bg-gray-200">
  <side-navbar active-element="menus"></side-navbar>
  <div class="container ml-64 px-20 py-10 overflow-scroll">
    <edit-menu-container :menu-id = "<%= params[:id]%>"></edit-menu-container>
  </div>
</div>

