<div class="h-screen flex">
  <side-navbar active-element="menus"></side-navbar>
  <div class="container ml-64 px-20 py-10 overflow-hidden bg-gray-100">
      <menus-container :menus="<%= [
          {"name": "Cumpleaños niños","totalPrice": 18000, "recipesQuantity": 2, "recipes": "Pie, Torta"}.to_json,
          {"name": "Cumpleaños abuelos","totalPrice": 17000, "recipesQuantity": 1, "recipes": "Sopa"}.to_json,
          {"name": "Fiesta","totalPrice": 4000, "recipesQuantity": 1, "recipes": "Piñata"}.to_json,
          {"name": "Reunión Elegante","totalPrice": 10000, "recipesQuantity": 2, "recipes": "Té, Café"}.to_json,
          {"name": "Evento grande","totalPrice": 70000, "recipesQuantity": 1, "recipes": "Hamburguesa"}.to_json,
          {"name": "Desayuno","totalPrice": 4000, "recipesQuantity": 1, "recipes": "Pan"}.to_json] %>"/>
  </div>
</div>
