<div class="h-screen bg-gray-200">
  <side-navbar active-element="recipes" class="fixed inset-y-20 sm:inset-y-16"></side-navbar>
  <div class="ml-20">
    <div class="px-10 py-10 mt-16 mx-auto">
        <recipe-edit :recipe-id = "<%= params[:id]%>"></recipe-edit>
    </div>
  </div>
</div>