<div class="h-screen flex bg-gray-200">
  <side-navbar active-element="recipes" class="fixed inset-y-16"></side-navbar>
  <div class="container px-10 py-10 mt-16 mx-auto">
      <recipes-container></recipes-container>
  </div>
</div>
