<div class="h-screen flex bg-gray-200">
  <side-navbar active-element="recipes"></side-navbar>
  <div class="container px-10 py-10 overflow-auto mx-auto">
      <recipes-container></recipes-container>
  </div>
</div>
