<div class="flex h-screen">
  <side-navbar active-element="recipes"></side-navbar>
  <div class="container ml-64 px-20 py-10 overflow-scroll">
      <create-recipes>
      </create-recipes>
  </div>
</div>