<div class="h-screen">
  <side-navbar active-element="ingredients" class="fixed inset-y-20 sm:inset-y-16"></side-navbar>
  <div class="ml-20">
    <div class="px-10 py-10 mt-16 mx-auto">
      <ingredients-container></ingredients-container>
    </div>
  </div>
</div>
