<div class="h-screen flex">
  <side-navbar active-element="ingredients"></side-navbar>
  <div class="container ml-64 px-20 py-10 overflow-hidden">
      <ingredients-container></ingredients-container>
  </div>
</div>