<div class="h-screen flex bg-gray-200">
  <side-navbar active-element="ingredients"></side-navbar>
  <div class="container ml-64 px-20 py-10 overflow-scroll">
      <ingredients-container></ingredients-container>
  </div>
</div>